{% extends 'base.html'%}


{% block title %}
    
    <title>Company Home</title>
    
{% endblock %}



{% block content %}
    
    
    
    <div class='row'>
        <div class='col-sm-3'><a href='/menu/P/' class='btn btn-success'>Pizzas</a></div>
        <div class='col-sm-3'><a href='/menu/S/' class='btn btn-success'>Sides</a></div>
        <div class='col-sm-3'><a href='/menu/O/' class='btn btn-success'>Soups</a></div>
        <div class='col-sm-3'><a href='/menu/D/' class='btn btn-success'>Salads</a></div>

    </div>
    
    
        <div class='row'>
        <div class='col-sm-3'><a href='/menu/B/' class='btn btn-success'>Breadsticks</a></div>
        <div class='col-sm-3'><a href='/menu/T/' class='btn btn-success'>Pasta</a></div>
        <div class='col-sm-3'><a href='/menu/W/' class='btn btn-success'>Wings</a></div>
        <div class='col-sm-3'><a href='/menu/H/' class='btn btn-success'>Sandwiches</a></div>

    </div>
        
            <div class='row'>
        <div class='col-sm-3'><a href='/menu/E/' class='btn btn-success'>Beverages</a></div>
        <div class='col-sm-3'><a href='/menu/G/' class='btn btn-success'>Pizza Toppings</a></div>
        <div class='col-sm-3'><a href='/orders/order_dashboard/' class='btn btn-success'>Order Dashboard</a></div>
        <div class='col-sm-3'></div>

    </div>
            
            
{% endblock %}