<div id='top-head' style='background-image: url( {{MEDIA_URL}}{{location.image}});'>
    
       <div class='col-sm-3'></div>
       <div class='col-sm-6' style='text-align: center; color: white'>
        <h1>Cowabunga!</h1>
        
        <div class='row'>
        <h3>{{ location.street_address }}, {{ location.city }}, {{ location.state }} {{ location.zipcode }}</h3>
        </div>
        <div class='row'>
        <h3><button class='btn btn-primary'>{{ location.phone}}</button></h3>
        </div>
        
        
      </div>
</div>